.sign {
    width: 10px;
    text-align: right;
}
.coef {
    width: 10px;
    text-align: center;
}
.equal {
    width: 20px;
    text-align: center;
}
.equal.result {
    width : 40px;
    text-align: left;
}
.index{
    width: 20px;
    text-align: center;
}